<div class="jumbotron">
<h1>B4s</h1>
<h2>リアルタイムで観たい試合をチェック！</h2>

  <%= link_to "新規登録", signup_path, class: "btn btn-lg btn-primary" %>
</div>

<br>

<div class="koyaren">
<%= link_to image_tag("home.jpg", alt: "Rails logo"),
            'http://www.miyagi-kouyaren.com/' %>
            <p>宮城県高校野球連盟</p>

<%= link_to image_tag("shioko.jpg", alt: "Rails logo"),
            'http://www.miyagi-kouyaren.com/' %>
            </div>