<div class="jumbotron">
<h1>B4s</h1>
<h2>リアルタイムで観たい試合をチェック！</h2>

  <%= link_to "新規登録", signup_path, class: "btn btn-lg btn-primary" %>
</div>

<br>

<div class="koyaren">
<%= link_to image_tag("home.jpg", :size => "400x300", :alt => "アイコン") %>

<%= link_to image_tag("shioko.jpg", :size => "400x300", :alt => "アイコン") %>
            </div>