<% provide(:title, @user.name) %>
<div class="row">
  <aside class="col-md-4">
    <section class="user_info">
      <h1>
  <%= image_tag("gray_heat.png", :size => "50x50", :alt => "アイコン") %>
  <%= @user.name %>
 </h1>
    </section>
  </aside>
</div>